.navLink {
  text-decoration: none;
}

.navLinkBrand {
  color: white;
  transition: 1000ms;
}
.navLinkBrand:hover {
  color: rgb(220, 90, 90);
}
.tooltip {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
  opacity: 0; /* Start with opacity 0 */
  transition: all 2s; /* Add a 2-second opacity transition */
}

.tooltipShow {
  display: flex;
  opacity: 1;
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.left {
  top: 100%;
  left: 50%;
  transform: translate(-80%);
}
